$size-m = 28px
$ctx = '.player-actions'

{$ctx}_size_m
        {$ctx}__item,
        {$ctx}__icon
                width: $size-m
                height: $size-m

        {$ctx}__icon
                background-size: 135%
