$height = 16px

.player-item__button
    display: none
    position: absolute
    top: 50%
    left: 0
    width: 24px

    &_action
        &_play
            height: $height
            margin-top: -($height / 2)

        &_pause
            height: $height
            margin-top: -($height / 2)
