$ctx = '.player-item'

{$ctx}
    display: flex
    position: relative
    align-items: center
    padding: 8px
    border-radius: 3px
    transition: all .1s ease-in

    &:hover
        background-color: $color-yellow-light

        {$ctx}__number
            visibility: hidden

        {$ctx}__button
            display: block

